@font-face{
    font-family:"star_font"; 
    src:url("../fonts/stjedise/STJEDISE.TTF")
}
@font-face{
    font-family:"star_title"; 
    src:url("../fonts/starjedi/Starjhol.ttf")
}

//SASS VARIABLES===================
$lower: lowercase;

$lower: lowercase;
@mixin starTitle {
    font-family: star_title, sans-serif;
    text-transform: $lower;
    letter-spacing: 2px;
}
@mixin starNormal($case){
    @if ($case == "lowercase") {
        font-family: star_font, sans-serif;
        text-transform: $case;
        letter-spacing: 2px;
    } @else {
        font-family: star_font, sans-serif;
        letter-spacing: 2px;
    }
}

//MODIFICATION IN ALL PAGES
* {
    font-family: 'Space Mono', sans-serif;
}

//GENERAL MODIFICATIONS
html { 
    height: 100%;
    width: 100%;
}

//BACKGROUND
body{
    background-image: url(../images/stars.jpg); 
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

//ITENS DEFAULT CONFIGURATIONS
input,
textarea,
button {
    box-sizing: border-box;
}

.input--default {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}

.title--default {
    color: #fff;
}

.button {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

//MAIN TOP CONTENT=================
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        @include starNormal("");
        letter-spacing: 4px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: yellow;
        font-size: 80px;
        background-color: black;
        width: 300px;
        border-radius: 50px;
        padding: 5px 5px 20px;
        box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 10px black,0px 0px 0px 15px white,
    }
}
//=================================

@media (min-width: 768px) {
    .button {
        width: auto;
    }
}