<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmação - Teste Front End - Blu365</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
    <section class="container">
        <h1 class="title--default home__title">Star<br>Wars</h1>
        <fieldset class="confirmation--field">
            <legend>Escolha seu mentor</legend>
            <h2 class="title--default">
                O mentor selecionado foi:<br><span id="mentor-name"></span>
            </h2>
            <div class="choose-container">
                <button class="button--choose--accept" id="btn-accept">Aceito</button>
                <button class="button--choose--deny" id="btn-deny">Não aceito</button>
                <button class="button--choose--return" id="btn-back">Mentor Anterior</button>
            </div>
        </fieldset>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/confirmation.js"></script>
</body>

</html>