<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscrição - Teste Front End - Blu365</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <section class="index">
        <h1 class="title--default home__title">Star<br>Wars</h1>
        <form class="home__form" id="register-form">
            <fieldset>
                <legend>Incrição na Academia</legend>
                <span>*</span>
                <label for="name">Nome:</label>
                <input id="name" placeholder="Digite seu nome" type="text" class="input--default">
                <p id="alertName"></p>

                <span>*</span>
                <label for="age">Idade:</label>
                <input id="age" placeholder="Digite sua idade" type="text" class="input--default">
                <p id="alertAge"></p>

                <span>*</span>
                <label for="email">Email:</label>
                <input id="email" placeholder="Email tipo .com ou .com.br" type="email" class="input--default">
                <p id="alertEmail"></p>

                <button type="submit" class="button--submit">Cadastrar</button>
                <div class="advise">
                    <span>*</span><p>Campos obrigatórios</p>
                </div>    
            </fieldset>
        </form>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/home.js"></script>
</body>
</html>